@import "functions";

h2 {
  margin-bottom: 0;
}

.video {
  margin: 5px;

  width: $thumbnailWidth + px;

  img {
    width: inherit;
    height: $thumbnailHeight + px;
  }
}

.input-wrapper {
  margin-bottom: 4%;

  & > input[type="text"] {
    width: 100%;
    padding: 10px;
  }

  & > input[type="checkbox"], & > input[type="radio"] {
    transform: scale(1.5);
  }

  & > label {
    margin-left: 5px;
  }

}

[class^="hidden-"], [class*="hidden-"] {
  display: none !important;
}

.selected label {
  font-weight: bold;
}

.not label {
  color: red;
  font-weight: bold;
}

#loader {
  display: block;
  margin: 0 auto;

  border-width: 8px;

  @include wh(5em)
}

@keyframes spin {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

.flag {
  margin-right: 5px;
}

.count {
  position: absolute;
  left: 80px;

  opacity: 0.5;

  &::before {
    content: '(';
  }

  &::after {
    content: ')';
  }
}

#video-count {
  color: blue
}